name: Release CI

on:
  push:
    branches:
      - main

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build RELEASE JAR
        run: mvn clean package -DskipTests

      - name: Docker login
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build & Push RELEASE image
        run: |
          VERSION=1.0.0
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/crm-app:$VERSION .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/crm-app:$VERSION ${{ secrets.DOCKERHUB_USERNAME }}/crm-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/crm-app:$VERSION
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/crm-app:latest
